# dependencies
node_modules/
build-assets/llm/
# frontend build outputs
dist/
out/
release/
puppeteer/
!PulseCoreLite/
# tauri/rust build outputs
src-tauri/target/
src-tauri/gen/

# misc
.DS_Store
.eslintcache
*.log*
